h2 {
    font-size: 50px;
    height: 300px;
}

#logo {
    height: 8em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 175px;
}

div {
    text-align: center;
}

input {
    width:400px;
    margin-bottom: 10px;
}

button {
    display: inline-block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
